.tableauPlaceholder{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    text-align: center;
}

body {
    background-color: rgba(189, 187, 187, 0.462);
    text-align: center;
    z-index: 1;
    color: #bd5d38;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.photo {
    width: auto;
    height: 400px;
    text-align: center;
}

.header {
    height: 100vr;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    text-align: center;
    background: #bd5d38;
    color: #fff;
}
ol {
    text-align: left;
}

.linky {
    color: #fff;
}

.golf {
    color: #fff;
    font-size: large;
    font-weight: bold;
} 

.dubs:hover {
    color: black;
}